node_modules
compiled
.idea
coverage
app/styles/*.css
coverage
app/styles/*.css.map
public
npm-debug.log
.tmp
public
*.swp
.vscode
.terraform
#terraform.tfstate
#terraform.tfstate.backup
terraform.tfvars
.DS_Store
